<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Ticker</title>
  <style>
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 10pt;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      margin: 13px 0 0 0;
      padding: 0;
    }
    
    .info {
      font-size: 0.9em;
    }
    
    .symbol {
      font-weight: bold;
    }
    
    .value {
      font-size: 1.4em;
    }
    
    .errors {
      color: red;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>